* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: rgb(171, 197, 255);
    height: 100vh;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.box{
    flex: 1;
    border: 2px solid black;
    background-color: azure;
    margin: 10px;
    background-color: beige;
    border-radius: 20px;
    align-content: center;
    text-align: center;
    padding: 7px;   
     
    

}

.emoji{

        height: 180px;
        width: 180px;
        background-color: rgb(206, 131, 101);
        border-radius: 30%;
        padding-left: 100px;
        position: relative ;
        bottom: 1%;
        left: 46%;
    }

#position .emoji{
    left: 37%;
}

.eye1{
    height: 40px;
    width: 20px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    position: absolute;
    left: 19%;
    bottom: 34%;

}

.eye12{
    height: 40px;
    width: 20px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    position: absolute;
    left: 19%;
    bottom: 34%;
    visibility: visible;

}
.pupil1{
    height: 10px;
    width: 10px;
    background-color: rgb(255, 249, 249);
    border-radius: 50%;
    position: absolute;
    left: 19%;
    bottom: 54%;

}

.pupil2{
    height: 10px;
    width: 10px;
    background-color: rgb(255, 249, 249);
    border-radius: 50%;
    position: absolute;
    left: 19%;
    bottom: 54%;

}


.eye2{
    height: 40px;
    width: 20px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    position: absolute;
    right: 19%;
    bottom: 34%;


}

.nose{
    height: 0;
    width: 0;

    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid rgb(194, 78, 74);
    transform: rotate(180deg);
    bottom: 16%;
    left: 4.5pc;

}

.ear1{
    height: 0;
    width: 0;

    position: absolute;
    border-left: 30px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 50px solid rgb(206, 131, 101);
    transform: rotate(-20deg);
    bottom: 90%;

    left: 0.2pc;

}


.ear2{
    height: 0;
    width: 0;

    position: absolute;
    border-left: 30px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 50px solid rgb(206, 131, 101);
    transform: rotate(20deg);
    bottom: 90%;

    right: 0.2pc;
}
 
.mouth1{

    height: 40px;
    width: 55px;
    background-color: rgb(255, 246, 243);
    border-radius: 40%;

    position: absolute ;
    top: 76%;
    right: 2pc;    
}

.mouth2{
    height: 40px;
    width: 55px;
    background-color: rgb(255, 246, 243);
    border-radius: 40%;

    position: absolute ;
    top: 76%;
    left: 2.5pc;    
}

.whisk1{
    height: 30px;
    width: 3px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 40%;
    right: 5px;  
    transform: rotate(100deg);
    
  

}

.whisk2{
    height: 30px;
    width: 3px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    
    top: 10%;
    right: 5px;  
    transform: rotate(90deg);


}

.whisk3{
    height: 30px;
    width: 3px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    bottom:60%;
    right: 5px;  
    transform: rotate(60deg);
  

}


.whisk4{
    height: 30px;
    width: 3px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 40%;
    left: 5px;  
    transform: rotate(80deg);


        
        
  

}

.whisk5{
    height: 30px;
    width: 3px;
    background-color: rgb(0, 0, 0);
    position: relative;
        
    position: relative ;
    bottom: 20%;
    right: 5px;  
    transform: rotate(110deg);
  

}

.whisk6{



    height: 30px;
    width: 3px;
    background-color: rgb(0, 0, 0);
        
    position: relative ;
    bottom: 60%;
    right: 2px;  
    transform: rotate(90deg);
  

}



.tongue{
    visibility: hidden;
    height: 40px;
    width: 20px;
    background-color: rgb(197, 94, 94);
    border-radius: 50%;
    position: relative;
    right: 20%;
    top: 93%;
}


.eyesquee1{
    visibility: hidden;
    height: 30px;
    width: 7px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    
    
    top: 40%;
    right: 70%;  
    transform: rotate(140deg);


    
}

.eyesquee2{
    visibility: hidden;
    height: 30px;
    width: 7px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    
    
    top: 50%;
    right: 70%;  
    transform: rotate(40deg);
}

/*FISH*/

/*container for fish*/

.fishbowl{
    position: absolute;
    /* transform: rotateY(180deg); */
    border: 2px dashed #ccc;
    z-index: 1;
    bottom: 60%;
    right: 53%;
    animation: aroundd 15s linear infinite;   
}
.fish{
    height: 120px; /* adjust to control the size  */
    aspect-ratio: 1;
    clip-path: polygon(50% 0,100% 50%,50% 100%,0 50%);
    background: linear-gradient(-45deg, #4d68cb 70%, #90a0dd 60%);
    box-shadow: inset -5px -25px 45px 0px #3a55b5;
    position: relative;


   
    
 


    /* position: relative; */
}

.ftail{

    /* position: relative; */
    position: absolute;
    width: 0; 
    height: 0; 
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent; 
    border-right: 50px solid #3a55b5;
    left: 105px;
    top: 10px;
    background: linear-gradient(45deg, #4d68cb 40%, #5f82ff 60%);
    animation: tail 1s linear infinite;
 
}

.eye {
    width: 15px;
    height: 15px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    position: absolute;
    top: 40px;
    left: 40px;

}



/*TRANSFORMATIONS*/

#trans .emoji:hover .ear1{
    border-bottom-color: rgb(131, 131, 131);
    
}
#trans .emoji:hover .ear2{
    border-bottom-color: rgb(131, 131, 131);
        
}

#trans .emoji:hover{
    background-color: rgb(131, 131, 131);
}

#trans .emoji:hover .tongue{
    visibility: visible;

}



#trans .emoji:hover .eyesquee1{
    visibility: visible;
} 
#trans .emoji:hover .eyesquee2{
    visibility: visible;
} 


#trans .emoji:hover .eye12{
    visibility: hidden;
}

/*ANIMATION - FIH*/

@keyframes tail {
  0% {
    transform: scale(.5)
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(.5);
  }
}

@keyframes aroundd {
  0%   {transform: translateX(0px) translateY(0px);}
  26%  {transform: translateX(200px) translateY(0px);}
  50%  {transform: translateX(200px) translateY(180px);}
  75%  {transform: translateX(0px) translateY(180px);}
  100% {transform: translateX(0px) translateY(px);}
}
